@import '../index.scss';

.header {
  align-items: center;
  border-bottom: 1px solid $border;
  display: grid;
  gap: 1.6rem;
  grid-template-columns: 256px auto max-content;
  padding: 1rem 1.6rem;
  
  @media screen and (max-width: 767px) {
    grid-template-columns: max-content max-content;
    grid-template-rows: 1fr 1fr;
    .logo {
      grid-column: 1 / 3;
    }
  }
}

.logo {
  img {
    width: 110px;
  }
}

.search {
  &__input {
    font-size: 1.6rem;
    padding: 1.6rem;
    width: 100%;
  }
}